.black-border {
  border: 1px solid black;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-box {
  box-sizing: border-box;
}

.purple {
  background-color: #333676;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.sunk {
  position: absolute;
  background-color: red;
}
