.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex.row {
  flex-direction: row;
}

.full-height {
  height: 100vh;
}

.gradient {
  background: hsla(204, 44%, 51%, 1);

  background: linear-gradient(
    270deg,
    hsla(204, 44%, 51%, 1) 0%,
    hsla(218, 94%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(204, 44%, 51%, 1) 0%,
    hsla(218, 94%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(204, 44%, 51%, 1) 0%,
    hsla(218, 94%, 48%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4C8EBA", endColorstr="#075CF0", GradientType=1 );
}
